* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

form {
  border: 2px solid black;
  display: flex;
  flex-flow: row wrap;
  margin: 30px 50px;
  padding: 10px;
  width: 50vw;
}

.card {
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  display: flex;
  flex-flow: column wrap;
  height: 450px;
  margin: 50px 15vw;
  padding: 10px;
  width: 25vw;
}

.image {
  border-radius: 15px;
  margin: 10px;
  width: 300px;
}

.description {
  background-color: green;
  box-sizing: border-box;
}
